#################################
# Configuration for 'git archive'
# See https://git-scm.com/docs/git-archive#ATTRIBUTES

# Don't include these in the distribution artifact, to reduce size.
.bcr export-ignore
.github export-ignore
docs export-ignore
examples export-ignore
